@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  /* Typefaces */
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-serif: 'Newsreader', serif;
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  /* Transitions */
  --transition: 0.1s ease-in-out;
  --transition-slow: 0.3s ease-in-out;

  /* Radius */
  --radius: 8px;
  --radius-small: 4px;

  /* Theme */
  --bg: #212121;
  --text: #212121;
  --gray: #dcdcdc;
  --light-gray: #dedede;
  --lighter-gray: #f5f5f5;
  --lightest-gray: #fafafa;
  --selection: #ffeb3b;
}

::selection {
  text-shadow: none;
  background: var(--selection);
  color: var(--text);
}

html {
  line-height: 1.5;
}

html,
body {
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 5vh;
  min-height: 100vh;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: 600;
  line-height: 1.75;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.89px;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.69px;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.47px;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.33px;
}

hr {
  border: none;
  border-bottom: 1px solid var(--light-gray) !important;
}

a {
  font-family: var(--font-sans);
  text-decoration: none !important;
  border-bottom: 2px solid var(--light-gray);
  padding-bottom: 1px;
}

a:hover {
  border: none;
}

p,
li {
  letter-spacing: -0.33px;
  font-size: 1.125rem;
}

li a:hover,
li a:focus,
li a:active,
li a.reset:hover,
li a.reset:focus {
  border-color: var(--bg);
}

blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--light-gray);
}

p a,
a.reset {
  outline: none;
  text-decoration: none;
}

p a:hover,
p a:focus,
p a:active,
a.reset:hover,
a.reset:focus {
  border-color: var(--bg);
}

/* In-line Text Styles */
serif {
  font-family: var(--font-serif);
  font-style: italic;
}

mono {
  font-family: var(--font-mono);
}

/* 404 Page */
error {
  min-height: 100vh;
  font-family: var(--font-mono);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    --bg: #212121;
    --text: #212121;
    --gray: #dcdcdc;
    --light-gray: #dedede;
    --lighter-gray: #f5f5f5;
    --lightest-gray: #fafafa;
    --selection: #ffeb3b;
  }

  * {
    text-shadow: none !important;
  }
}

/* Custom overrides */
.meta-line {
  margin-top: -2.4rem !important;
  min-width: 190px;
}

.prose-sm h1 {
  font-size: 1.5rem !important;
  margin-bottom: -1em !important;
}

.prose-sm h2 {
  margin-top: 0.2em !important;
  margin-bottom: 1em !important;
  line-height: 1.4 !important;
}

.p-2 {
  padding: 6px !important;
  color: var(--bg) !important;
  background-color: var(--lightest-gray) !important;
  border-radius: var(--radius) !important;
  transition: var(--transition-slow);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.p-2:hover {
  background-color: var(--gray) !important;
}
